
*{margin: 0;
padding: 0;
box-sizing: border-box;}


/*Utilities

.container {max-width: 1800px;}
*/

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*Colors*/


#sfondo-nero {background-color: black;
width: 1400px;
height: 2500px}



.contenuto {background-color: white;
margin:  auto;
height: 1900px;
width: 60%}

.blocco-header {width: 100%;
height: 300px;
background-color: blue;}



nav {
width: 100%;
height: 30px;
background: black;
}

.ul-header {
margin: auto; 
display: flex;
align-items: center;
line-height: 0;
background-color: red;
list-style-type: none;

}

.li-header {margin: 0 10px;
color: white;}
 
.flex-nav {
display: flex;
justify-content: space-between;
align-items: center;
}

#logo {
height: 100%;
width: 30px;
display: inline-block;
background-color: blueviolet;}

h1 {text-align: center;
    margin-bottom: 30px;
}

p {text-align: center;}

.blocco-descrittivo { width: 50%;
background-color: aquamarine;
margin: 40px auto;}

section {
    width: 70%;
    height: 300px;
    background-color: coral;
    padding: 20px;
    margin: 40px 126px;
    float: left;
}

.immagine-section { background-color: black;
height: 100%;
width: 50%;
float: left;}

.immagine-section-central { 
display: inline-block;
background-color: black;
height: 150px;
width: 100%;
}

.p-section-central {

text-align: center;
color:black;
padding: 12px;
margin-bottom: 20px;

}




footer { 
    background-color: black;
    height: 300px;
}



#quadrato {
    height: 50%;
    width: 20%;
    background-color: rgb(20, 232, 91);
}


.contenuto-footer-flex {
    background-color: gray;
    width: 60%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(6, 119, 247);
  
    
}

.flex-ul-footer {
    display: flex;
    justify-content: space-between;}


.ul-footer {

    color: aliceblue;
    list-style-type: none;
}






